[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Enterprise-Grade Continuous Delivery & DevOps Automation Open Source Platform
[access "refs/*"]
	owner = group user/Samiha (ELABOUTISamiha)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Samiha (ELABOUTISamiha)
	label-Verified = -1..+1 group user/Samiha (ELABOUTISamiha)
	push = group user/Samiha (ELABOUTISamiha)
	read = group user/Samiha (ELABOUTISamiha)
	rebase = group user/Samiha (ELABOUTISamiha)
	removeReviewer = group user/Samiha (ELABOUTISamiha)
	submit = group user/Samiha (ELABOUTISamiha)
[access "refs/heads/*"]
	create = group user/Samiha (ELABOUTISamiha)
	push = +force group user/Samiha (ELABOUTISamiha)
	pushMerge = group user/Samiha (ELABOUTISamiha)
	read = group user/Samiha (ELABOUTISamiha)
[access "refs/tags/*"]
	push = group user/Samiha (ELABOUTISamiha)
	push = +force group user/Samiha (ELABOUTISamiha)
